{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
  </head>
  <body>
    <section>
      <header>
        <span><a href="/home">BlogBeat</a></span>
        <nav>
          {%if user.is_authenticated%}
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/add-blog">Add Blog</a></li>
            <li><a href="/all-blogs">All Blogs</a></li>
            <li><a href="/my-blogs">My Blogs</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          {%else%}
          <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/accounts/login/">Login</a></li>
          </ul>
          {%endif%}
        </nav>
      </header>
    </section>

    {%block "main"%} {%endblock%}

    <footer>===================footer===============</footer>
  </body>
</html>
