
body{
  margin: 0px;
  padding: 0px;
}
header{
  padding: 0px 30px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

header span a{
    color: white;
    text-decoration: none;
}

header ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header ul a{
  color: white;
 text-decoration: none;
}

header ul a:hover{
  text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0px;
}